<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= titulo %></title>

<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap" rel="stylesheet">

<!-- CUSTOM CSS -->
<link rel="stylesheet" href="/style.css">