.contador {
    width: 50px;
}
.cont-contador{
    margin-left: 40px;
}
.nomPelicula {
    width: fit-content;
    border-radius: 5px;
    padding: 20px 40px;
    color: #fff;
    background: #888;
    font-size: 30px;
}

.cont-form{
    margin-top: 30px;
}